I want to generate a README file for a demo in this project.

Demo directory: `{{ env('DEMO_DIRECTORY') }}`

More info about the demo:
{{ env('DEMO_DESCRIPTION') }}

Do the following:

1. Read `demo/style-guidelines/README.md` and take it as an example for what the README should look like
2. Read the following files in `{{ env('DEMO_DIRECTORY') }}`: {{ env('FILES_TO_READ') }}
3. Based on the information you have collected, generate a README for the demo
