We need to generate dummy content.

# Purpose
The purpose of this dummy content will be:
{{ env('PURPOSE') }}

# Format
The dummy content should be in the following format:
{{ env('FORMAT') }}

# Volume
The volume of dummy content should be:
{{ env('VOLUME') }}

# Content Criteria
The content should look as follows:
{{ sh(['cat', 'content-criteria.md']) }}

# Your task
Generate a dummy data set that meets the above requirements.