I want to search for "{{ env('SEARCH_QUERY') }}" across multiple sources.

1. Search for Github issues / PRs
2. Search for Slack messages
3. Search for files in our code
4. Respond with a condensed list of links to the respective results.