We want to extract style guidelines from a document.

## Characteristics of good style guidelines
- They are concise and to the point bullet points
- They are specific and actionable.
- They ONLY concern style and document structure, not content
- Structure guidelines can include:
  - position, size and alignment of logos
  - Use of badges
  - Conceptional structure of the document
- Do NOT include names, paths, identifiers, versions, etc.

## Document URL

{{ env('URL') }}

## Instructions

1. Scrape the document URL
2. Generate a list of style guidelines from the document.