I want you to imagine new PR Pilot demos, based on the content of an existing ones.

# Understand Existing Demos

We have the following demos in the repository:

## Daily Reports for Github Repositories
{{ sh(['cat', 'analysis/daily-report.md']) }}

## Game of Life with PR Pilot
{{ sh(['cat', 'analysis/game-of-life.md']) }}

## Problems developers are facing
In an internet search, we found that developers are facing the following problems:

{{ subtask('Search the internet for specific examples in which developers use LLMs to improve their daily workflows (git, github). Respond with a list of concrete examples (no headers)') }}

# Imagine a New Demo
The new demo must meet the following criteria:
- It must show case how to use the CLI to solve problems in a developer's daily workflow
- It must solve a tangible problem that developers can relate to
- The problem should be small and specific
- The problem should not be easily solved with existing tools (e.g. dependency versions, linters, formatters, QA tools, etc.)
- Use PR Pilot's capabilities creatively. In prompts, you can ask the following:
    - Interact with Github issues, PRs, comments
    - Read/write files
    - Search the internet or scrape websites


# Your Task
0. Scrape the CLI documentation: https://raw.githubusercontent.com/PR-Pilot-AI/pr-pilot-cli/main/README.md
1. Understand Existing Demos
3. Imagine 3 new demos that meet the criteria above
4. Respond with the 3 demo ideas and a brief description of each