# Context
We want to generate protobufs for testing purposes.

Domain: {{ env('DOMAIN') }}

Number of protobufs: {{ env('HOW_MANY_PROTOBUFS') }}

# Requirements

* protobufs are realistic and have more than 4 properties each
* Each protobuf has a syntax, package, and message
* Protobufs are separated by `---`

# Your Task

Generate all protobufs, separated by `---`.
