# Context
We want to generate protobufs for testing purposes.

Domain: {{ env('DOMAIN') }}

Number of protobufs: {{ env('HOW_MANY_PROTOBUFS') }}

# Your Task

Generate all protobufs, separated by `---`.
Make sure the generated protobufs are realistic and have a good amount of properties.