Look at the following poetry output:

```
{{ sh('poetry lock && poetry install') }}
```

If everything looks OK, say "Poetry looks good to go!"
otherwise:
1. Identify the parts of the code that are not working.
2. Read the relevant files to get a better understanding of the problem.
3. Fix the issue and respond with a shortpill, concise explanation of the errors and the changes you made